@{
    ViewData["Title"] = "Home Page";
}
<div class="row book-holder">
    <div class="col-5 book-card">
        <div class="book-card-top d-flex">
            <img src="~/Image/BookPic.jpg" class="book-pic">
            <div class="book-inf">
                <h4>
                    Titlte
                </h4>
                <p1>
                    Content
                </p1>
            </div>
        </div>
        <div class="book-card-bottom d-flex">
            <button type="button" class="btn btn-primary btn-sm">Add to cart</button>
        </div>
    </div>
    <div class="col-5 book-card">
        <div class="book-card-top d-flex">
            <img src="~/Image/BookPic.jpg" class="book-pic">
            <div class="book-inf">
                <h4>
                    Titlte
                </h4>
                <p1>
                    Content
                </p1>
            </div>
        </div>
        <div class="book-card-bottom d-flex">
            <button type="button" class="btn btn-primary btn-sm">Add to cart</button>
        </div>
    </div>
    <div class="col-5 book-card">
        <div class="book-card-top d-flex">
            <img src="~/Image/BookPic.jpg" class="book-pic">
            <div class="book-inf">
                <h4>
                    Titlte
                </h4>
                <p1>
                    Content
                </p1>
            </div>
        </div>
        <div class="book-card-bottom d-flex">
            <button type="button" class="btn btn-primary btn-sm">Add to cart</button>
        </div>
    </div>
</div>
    



